html {
    margin: 0;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #16072D;
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

p {
    max-width: 38em;
    letter-spacing: .1em;
    hyphens: auto;
}

h1 {
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 3em;
}

h2 {
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
    padding-top: 10px;
}

h3 {
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

h4 {
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    font-weight: 400;
    letter-spacing: .02em;
    font-size: 1.8em;
}

h5 {
    font-weight: bold;
}

/* <------------ Landing Page ------------> */

.landing-page {
    height: 100vh;
    width: 100vw; 
    background: url(https://images.unsplash.com/photo-1550962322-be104f1cd1c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button-container {
    display: flex;
    justify-content: center;
}

.enter-button {
    margin-top: 65vh;
    height: 70px;
    width: 150px;
    font-size: 24px;
    border-radius: 10px;
}

.logo-container {
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.welcome {
    color: #253D60;
    padding-left: 2vw;
}

.landing-logo {
    max-height: 75px;
    width: auto;
}

/* <------------ Navigation ------------> */

/* .navigation {
    color: #EFF6EE;
    background-color: #16072D;
} */

#navigation {
    display: none;
    color: #EFF6EE;
    background-color: #16072D;
}

.hamburger {
    color: #16072D;
    background-color: #EFF6EE;
    border-radius: 50%;
    max-height: 55px;
    width: auto;
    margin-left: 10px;
}

.nav-logo {
    margin: 0px 10px 0px 60px;
}

/* <------------ Navigation Dropdown ------------> */

.dropdown-menu {
    background-color: #EFF6EE;
}

.drop:hover {
    color: #EFF6EE;
    background-color: #253D60;
}

.dropdown-toggle {
    background: transparent;
    /* margin-left: -20px; */
    /* height: 75px;
    width: 150px; */
    color: transparent;
    border-color: transparent
}

.dropdown-toggle:hover {
    color: transparent;
    border-color: transparent;
    background-color:transparent;
}

.dropdown-toggle::after {
    color: transparent;
    border-color: transparent;
    background-color:transparent;
}

.dropdown-item:hover {
    color: #EFF6EE !important;
}

.show>.btn-primary.dropdown-toggle {
    color: transparent;
    background-color:transparent;
    border-color:transparent;
}

.btn-primary:focus {
    box-shadow: none;
}

.dropdown-item.active {
    color: black;
    background-color: #EFF6EE;
}

.dropdown-item.active:hover {
    color: #EFF6EE;
    background-color: #253D60;
}

/* <------------ About ------------> */

.about {
    background-color: #EFF6EE;
    padding-bottom: 35px;
}

.about-container {
    padding: 50px 20px;
}

.about-row {
    height: 1fr;
}

.blurb-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-container,
.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.male-model {
    width: 98%;
    height: auto;
    padding-bottom: 20px;
}

.about-info {
    color: #253D60;
    padding: 30px;
}

/* <------------ Gallery ------------> */

.gallery {
    background-color: #EFF6EE;
}

.page-title {
    padding-bottom: 30px;
    border-bottom: solid 1px #FFFD77;
    width: 100%;
    max-width: 40em;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EFF6EE;
    background-color: #253D60;
    padding: 30px;
}

.info-container {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    padding-top: 30px;
}

.gallery-container {
    color: #253D60;
    background-color: #EFF6EE;
    padding: 75px 30px;
}

.gallery-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
}

.gal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* <------------ Photo Hunt ------------> */

.search-container {
    color: #253D60;
    background-color: #EFF6EE;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search {
    margin-right: 20px;
}

#search-error {
    display: none;
    color: red;
}

.label {
    margin-right: 20px;
    margin-bottom: 0;
}

.dest-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 55vh;
}

.dest-main-image {
    width: auto;
    min-width: 25vw;
    max-width: 99vw;
    height: 100%;
    max-height: 99vh;
}

.dest-img-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.artist {
    margin-right: .5em;
}

.artist-info {
    display: flex;
}

/* <------------ Slider ------------> */

.slider-container {
    color: #253D60;
    background-color: #EFF6EE;
    padding: 30px 75px 80px 75px;
}

.slider-title {
    padding: 30px 0;
    text-align: center;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slider-image {
    max-width: 90%;
    height: auto;
    margin: 5px 5px;
}

.slider-image:hover {
    cursor: pointer;
}

.carousel-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next:before, .slick-prev:before {
    color: #253D60;
}

/* <------------ Dining ------------> */

.dining-container {
    color: #253D60;
    background-color: #EFF6EE;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 2em;
    padding: 1.2em;
    background-color: #253D60CC;
    color: #EFF6EE;
}

.card-body {
    padding: 1em;
}

.card-deck {
    justify-content: center;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
}

.rest-details {
    display: flex;
    flex-direction: column;
}

.restaurant-button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    margin-right:5px
}

.filter-button {
    color: #EFF6EE;
    border-color: #EFF6EE;
}

.filter-button:hover {
    color: #16072D;
    background-color: #EFF6EE;
    border-color: #EFF6EE;
}

.restaurant-search {
    color: #EFF6EE;
    background-color: #16072D;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <------------ Form ------------> */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-match {
    margin: 20px 0;
}

.request-form,
.review-container {
    display: flex;
    flex-direction: column;
    background-color: #253D60;
    color: #EFF6EE;
    width: 70vw;
    padding: 30px 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
}

.entry-field {
    display: flex;
    margin: .5em;
}

.form-label {
    width: 10em;
    margin-left: .2em;
}

.button-container {
    margin: 3em;
}

.text-input {
    width: 20em;
}

.text-area {
    width: 20em;
    height: 10em;
    text-overflow: wrap;
}

.pending-title {
    margin: 25px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.title-row {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    flex-wrap: nowrap;
}

.review-list {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.list-number {
    padding-right: 1em;
}

.review-item {
    padding-right: .8em;
    margin: 1em 0;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

/* <------------ Modal ------------> */

.modal-img {
    max-width: 100%;
    height: auto;
}

/* .restaurant-info {
    padding: 20px
} */

.top-row {
    margin-bottom: 2em;
}

.hours-container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
}

.days {
    display: flex;
}

.day {
    width: 7em;
}

.layout-box {
    margin-bottom: 2em;
}

/* <------------ Blog ------------> */

.blog-container {
    color: #253D60;
    background-color: #EFF6EE;
    overflow-x: hidden;
}

.blog-grid {
    display: grid;
    grid-gap: .1em;
    background-color: #253D6080;
}

.newspaper-title {
    text-transform: uppercase;
    hyphens: auto;
    text-overflow: ellipsis;
}

.title-image {
    max-width: 100%;
    height: auto;
    padding-bottom: 1em;
}

.headliner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF6EE;
}

.blog-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.blog-item {
    background-color: #EFF6EE;
    padding: 10px 10px 20px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.minor-title {
    padding: 8px 0;
}

.minor-article {
    padding: 15px 0;
}

.minibar {
    max-width: 3em;
    height: 2px;
    border-bottom: 2px solid #16072D;
    margin: 5px 0;
}

.article-columns {
    columns: 3;
    width: 75vw;
    column-gap: 1em;
}

.md-article {
    background-color: #EFF6EE;
    padding: 10px 10px 20px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.color-image-container {
    max-width: 75vw;
    margin: 1.5em 3em 2em 3em;
    height: auto;
    border: 2px solid #16072D;
}

.art-image-container {
    width: 75vw;
    margin: 2em 0;
}

.color-image {
    width: 100%;
    height: auto;
}

.color-scheme {
    max-width: 100%;
    height: auto;
}

/* <------------ News Articles ------------> */

.text-link {
    color: #16072D;
    text-decoration: inherit;
}

.text-link:hover {
    color: #601882;
    text-decoration: none;
    font-weight: bolder;
    /* font-size: 1.005em; */
}

.article-title {
    padding: 1em 1em .5em 1em;
    text-transform: uppercase;
    text-align: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF6EE;
    color: #253D60;
}

.article-body {
    padding: .8em;
    display: flex;
    flex-direction: column;
    max-width: 98vw;
}

.basic-blog-img {
    width: 300px;
    height: auto;
    margin-bottom: 16px;
}

.left {
    top:47%;
    left:5%;
    position:fixed;
    width: 2em;
    height: auto;
}

.right {
    top:47%;
    right: 5%;
    position: fixed;
    width: 2em;
    height: auto;
}

.left-bottom,
.right-bottom {
    display: none;
}

.home-container {
    display:flex;
    justify-content: center;
    width: 100%;
    padding: .5em
}

.home {
    width: 2.5em;
    height: auto;
}

.minor-span {
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* <------------ Planning ------------> */

.planning-image-container {
    display: flex;
    margin: 15px 0px;
    max-width: 95vw;
}

.font-col {
    margin: 2em 0;
}

.font-title {
    text-align: center;
    margin-bottom: 1em
}

/* <------------ Footer ------------> */

#footer-container {
    color: #EFF6EE;
    background-color: #16072D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding-top: 15px;
    padding-right: 20px;
    height: 75px;
}

.built-by {
    padding-left: 20px;
}

.social-logo {
    height: 40px;
    margin: 5px 10px;
}

.insta {
    border-radius: 50%;
    background-color: #EFF6EE;
}

/* <------------ Media Queries ------------> */

@media only screen and (min-width: 800px) {
    .r1c1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    .r1c3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .r1c4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    
    .r2c3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    .r2c4 {
        grid-column: 4 / 5;
        grid-row: 2 / 5;
    }
    
    .r3c1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .r3c2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .r3c3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    
    .r4c1 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .r4c2 {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }
    
    .blog-grid {
        display: grid;
        grid-gap: .1em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(0, 350px) minmax(0, 350px) minmax(0, 1fr);
        /* height: 100%; */
    }
    
    .blr1c1 {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }
    
    .blr1c2 {
        grid-row: 1 / 3;
        grid-column: 2 / 4;
    }
    
    .b1r1c4 {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
    }
    
    .b1r2c4 {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    
    .blr3c2 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    
    .blr3c3 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    
    .blr3c4 {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }
    }
    
    @media only screen and (max-width: 800px) {
        .gallery-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 40vw);
        }
        .r1c1 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        
        .r1c3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        .r1c4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        
        .r2c3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        
        .r2c4 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        
        .r3c1 {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
        }
        
        .r3c2 {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        
        .r3c3 {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
        
        .r4c1 {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        
        .r4c2 {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
        }
    
        .blog-grid {
            grid-gap: 1em;
            background-color: #EFF6EE;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, auto);
        }
    
        .blr1c1 {
            grid-row: 6 / 7;
            grid-column: 1 / 3;
        }
        
        .blr1c2 {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }
        
        .b1r1c4 {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }
        
        .b1r2c4 {
            grid-row: 5 / 6;
            grid-column: 2 / 3;
        }
        
        .blr3c2 {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
        }
        
        .blr3c3 {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
        
        .blr3c4 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
        }

        .image-container,
        .about-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .blurb-col {
            display: none;
        }

        .blurb-left {
            display: none;
        }

        .left {
            display: none;
        }

        .right {
            display: none;
        }

        .left-bottom,
        .right-bottom {
            display: block;
            width: 2.5em;
            height: auto;
        }

        .home-container {
            display: flex;
            justify-content: space-between;
        }

        .article-container {
            padding: 0 1em 0 1em;
        }

        .article-title {
            padding: 1em .75em .3em .75em;
        }

        .article-columns {
            columns: 2;
            width: 95vw;
        }

        .review {
            display: flex;
            flex-direction: row;
        }

        .extra {
            display: none;
        }

        .text-input,
        .text-area {
            width: 15em;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .gallery-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .gal-img {
            padding-bottom: 10px;
            max-width: 300px;
            max-height: 250px;
        }

        .blog-grid {
            display: grid;
            grid-gap: 1em;
            background-color: #EFF6EE;
            grid-template-rows: repeat(7, auto);
            grid-template-columns: repeat(1, 95vw);
        }

        .blr1c1 {
            grid-row: 7 / 8;
            grid-column: 1 / 2;
        }
        
        .blr1c2 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

        }
        
        .b1r1c4 {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }
        
        .b1r2c4 {
            grid-row: 6 / 7;
            grid-column: 1 / 2;
        }
        
        .blr3c2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        
        .blr3c3 {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
        
        .blr3c4 {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
    
        .built-by {
            display: none;
        }
    
        h1 {
            letter-spacing: .02em;
            font-size: 2.6em;
        }

        h2 {
            text-align: start;
            letter-spacing: .02em;
            font: 1.8em;
            margin-bottom: 0;
        }
    
        p {
            letter-spacing: .02em;
            line-height: 1.5em;
        }
        .nav-logo {
            margin-left: 10px;
        }
        
        .navbar-brand {
            margin-right: 0;
        }
        
        .hamburger {
            margin-left: 0;
        }

        .dropdown-toggle {
            padding: 0;
        }

        .dest-main-container {
            max-width: 95vw;
            margin: 10px 0;
            font-size: 1em;
        }

        .dest-img-info {
            font-size: .8em;
        }

        .artist {
            display: none;
        }

        .article-title {
            padding: .5em .5em .25em .5em;
        }

        .article-columns {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90vw
        }

        .color-image-container {
            width: 100vw;
            margin: .5em;
            margin-bottom: 2em;
        }

        #footer-container {
            justify-content: flex-end;
        }

        .planning-image-container {
            flex-direction: column;
            align-items: center;
        }

        .entry-field {
            flex-direction: column;
        }

        .request-form {
            width: 95vw;
        }

        .review-list {
            width: 95vw;
        }
    }